#Project {
  padding: 24px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  margin-top: 24px;
}

.project_card {
  width: calc(50% - 12px);
}
.project_subhead {
  margin-top: 48px;
}

/* Desktop*/
@media (max-width: 1024px) {
}

/*Tablet*/
@media (max-width: 768px) {
  .project_card {
    width: 100%;
  }
  .project_subhead {
    margin-top: 24px;
    text-align: center;
  }
  .project_head {
    font-weight: 600;
    font-size: 2.7rem;
  }

  .project_subhead {
    font-size: 17px;
  }
}

/*Mobile*/
@media (max-width: 480px) {
  .project_head {
    font-size: 2rem !important;
    font-weight: 500 !important;
  }

  .project_subhead {
    font-size: 1.5rem !important;
    font-weight: 300 !important;
    text-align: center;
  }
}
