.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  padding: 48px 0;
}
.skill-container {
  width: calc(25% - 36px);
  height: 64px;
  padding: 0 16px;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  border-radius: 6px;
  gap: 16px;
}
.skill-container img {
  height: 48px;
  width: 48px;
}
.skill-container p {
  margin: 0;
  font-size: 16px;
}

/* Desktop*/
@media (max-width: 1024px) {
  .skill-container {
    width: calc(33.33% - 32px);
  }
}

/*Tablet*/
@media (max-width: 768px) {
  .skill-container {
    width: calc(50% - 24px);
  }
}

/*Mobile*/
@media (max-width: 480px) {
  .skill-container {
    width: 100%;
    gap: 24px;
  }
}
