.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  padding: 48px 0;
}
.skill-container {
  width: calc(25% - 36px);
  height: 64px;
  padding: 0 16px;
  background-color: #f9fafb;
  display: flex;
  align-items: center;
  border-radius: 6px;
  gap: 16px;
}
.skill-container img {
  height: 48px;
  width: 48px;
}
.skill-container p {
  margin: 0;
  font-size: 16px;
}
