.about {
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.25rem;
}

@media (min-width: 640px) {
  .about {
    padding-left: 2rem;
    padding-right: 3rem;
    margin-top: 0;
    padding-top: 6rem;
    padding-bottom: 3rem;
  }
}

h2 {
  font: bold;
  padding: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  h2 {
    padding-left: 0;
    padding-right: 0;
  }
}

h4 {
  margin-top: 3rem;
  color: #3b82f6;
  font-weight: 600;
}

p {
  margin-top: 1rem;
  font-size: 20px;
  text-align: justify;
  color: #6b7280;
}
