.about {
  max-width: 1216px;
  margin: 0 auto;
  padding-top: 96px;
}

.about-header {
  margin-top: 3rem;
  color: #3b82f6;
  font-weight: 600;
}

.about-summary {
  margin-top: 1rem;
  font-size: 20px;
  text-align: justify;
  color: #6b7280;
}
