.about {
  max-width: 1216px;
  margin: 0 auto;
  padding: 0 24px;
  padding-top: 24px;
}

.about-header {
  margin-top: 48px;
  color: #3b82f6;
  font-weight: 600;
}

.about-summary1 {
  margin-top: 1rem;
  font-size: 20px;
  text-align: justify;
  color: #6b7280;
}

.about-summary2 {
  margin-top: 1rem;
  font-size: 20px;
  text-align: justify;
  color: #6b7280;
}

/* Desktop*/
@media (max-width: 1024px) {
}

/*Tablet*/
@media (max-width: 768px) {
  .about-header {
    margin-top: 24px;
  }
  .about-summary1 {
    text-align: center;
    font-size: 17px;
  }

  .about-summary2 {
    text-align: center;
    font-size: 17px;
  }
}

/*Mobile*/
@media (max-width: 480px) {
  .about1 {
    font-weight: 500 !important;
    font-size: 2rem !important;
    padding-bottom: 30px;
  }
  .about2 {
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: 300;
    display: none;
  }

  .about_tech {
    text-align: center;
    font-size: 1.5rem !important;
    font-weight: 300;
  }
  .about-summary1 {
    text-align: center;
    font-size: 15px;
  }

  .about-summary2 {
    text-align: center;
    font-size: 1rem;
  }
}
