.containerhome {
  height: 100vh;
  width: 100vw;
  background-image: url("https://aakash-sharma.netlify.app/static/media/cloudBg.f28b5c6961fd82be839c.png") !important; /* Path to your image */
  background-size: cover; /* Ensures the image covers the div */
  background-position: center; /* Centers the image in the div */
  background-repeat: no-repeat;
}

.containerimg {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerimg :right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}

img {
  height: 700px;
  width: 700px;
}
