.containerhome {
  height: 100vh;
  width: 100vw;
  background-image: url("https://aakash-sharma.netlify.app/static/media/cloudBg.f28b5c6961fd82be839c.png") !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 148px;
}

.inner_container {
  max-width: 1216px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.container_left {
  width: 50%;
}
.container_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_right img {
  width: 100%;
  height: auto;
}

.containerimg :right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
}
